{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<div class="mb-3">
    <form action="/movies" method="post">
        <label class="form-label" for="name">Movie Title:</label>
        <input class="form-control" type="text" name="name" id="name" autocomplete="off" required>
        <label class="form-label" for="director">Director:</label>
        <input class="form-control" type="text" name="director" id="director" autocomplete="off" required>
        <input type="radio" id="1" name="rating" value="1 Star">
        <label for="1">1 Star</label><br>
        <input type="radio" id="2" name="rating" value="2 Stars">
        <label for="2">2 Stars</label><br>
        <input type="radio" id="3" name="rating" value="3 Stars">
        <label for="3">3 Stars</label><br>
        <input type="radio" id="4" name="rating" value="4 Stars">
        <label for="4">4 Stars</label><br>
        <input type="radio" id="5" name="rating" value="5 Stars">
        <label for="5">5 Stars</label><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
